
body{
  padding:0px;
  margin:0px auto;
}
a{
  text-decoration:none;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
  color: #2c3e50;
}

.time {
  font-size: 13px;
  color: #999;
}
.bottom {
  margin-top: 13px;
  line-height: 12px;
}
.image {
  width: 100%;
  display: block;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both
}
.chart-container {
  width: 100%;
}
.chart-container .el-col {
  padding: 30px 20px;
}


.container[data-v-406f678e] {
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 100%;
}
.container .topbar-wrap[data-v-406f678e] {
    height: 50px;
    line-height: 50px;
    background: #373d41;
    padding: 0px;
}
.container .topbar-wrap .topbar-btn[data-v-406f678e] {
      color: #fff;
}
.container .topbar-wrap .topbar-btn[data-v-406f678e]:hover {
      background-color: #4A5064;
}
.container .topbar-wrap .topbar-logo[data-v-406f678e] {
      float: left;
      text-align: center;
      width: 49px;
      border-right: 1px solid #000;
      line-height: 26px;
}
.container .topbar-wrap .topbar-title[data-v-406f678e] {
      float: left;
      text-align: center;
      width: 129px;
      border-right: 1px solid #000;
}
.container .topbar-wrap .topbar-account[data-v-406f678e] {
      float: right;
      padding-right: 12px;
}
.container .topbar-wrap .userinfo-inner[data-v-406f678e] {
      cursor: pointer;
      color: #fff;
      padding-left: 10px;
}
.container .main[data-v-406f678e] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 50px;
    bottom: 0px;
    overflow: hidden;
}
.container aside[data-v-406f678e] {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 180px;
            flex: 0 0 180px;
    width: 180px;
}
.container aside .el-menu[data-v-406f678e] {
      height: 100%;
      border-radius: 0px;
      background-color: #333744;
}
.container aside .collapsed[data-v-406f678e] {
      width: 50px;
}
.container aside .collapsed .submenu[data-v-406f678e] {
        position: absolute;
        top: 0px;
        left: 50px;
        z-index: 9999;
        height: auto;
        display: none;
}
.container .menu-collapsed[data-v-406f678e] {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50px;
            flex: 0 0 50px;
    width: 50px;
}
.container .menu-expanded[data-v-406f678e] {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 180px;
            flex: 0 0 180px;
    width: 180px;
}
.container .menu-toggle[data-v-406f678e] {
    background: #4A5064;
    text-align: center;
    color: white;
    height: 26px;
    line-height: 30px;
}
.container .content-container[data-v-406f678e] {
    background: #fff;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    overflow-y: auto;
    padding: 10px;
}
.container .content-container .content-wrapper[data-v-406f678e] {
      background-color: #fff;
      box-sizing: border-box;
}

@charset "UTF-8";
.login-container[data-v-293b1e6c] {
  /*box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);*/
  border-radius: 5px;
  -moz-border-radius: 5px;
  background-clip: padding-box;
  margin: 160px auto;
  width: 350px;
  padding: 35px 35px 15px 35px;
  background: #fff;
  border: 1px solid #eaeaea;
  box-shadow: 0 0 25px #cac6c6;
  /* IE 10 */
  /*火狐*/
  /*谷歌*/
  /* Safari 4-5, Chrome 1-9*/
  /*Safari5.1 Chrome 10+*/
  background: -o-linear-gradient(top, #fff, #6495ed);
  /*Opera 11.10+*/
}
.login-container .title[data-v-293b1e6c] {
    margin: 0px auto 40px auto;
    text-align: center;
    color: #505458;
}
.login-container .remember[data-v-293b1e6c] {
    margin: 0px 0px 35px 0px;
}

body{
  background: #DFE9FB;
}
